@model IEnumerable<dynamic>


<div class="latest_product_inner">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="single-product">
                    <div class="product-img">
                        <img width="230" height="200"
                             src="@item.FirstImageUrl"
                             alt="" />
                        <div class="p_icon">
                            @if (item.Type == "Product")
                            {
                                <a asp-action="Details" asp-route-id="@item.Product.Id" asp-route-isSwap="false">
                                    <i class="ti-eye"></i>
                                </a>
                            }
                            else if (item.Type == "ProductSwap")
                            {
                                <a asp-action="Details" asp-route-id="@item.ProductSwap.Id" asp-route-isSwap="true">
                                    <i class="ti-eye"></i>
                                </a>
                            }

                            
                        </div>
                    </div>
                    <div class="product-btm">

                        @if (item.Type == "Product")
                        {
                            <a href="#" class="d-block">
                                <h4>@item.Product.Title</h4>
                            </a>
                            <div class="mt-3">
                                <span class="mr-4">$@item.Product.Price</span>
                            </div>
                        }
                        else if (item.Type == "ProductSwap")
                        {
                            <a href="#" class="d-block">
                                <h4>@item.ProductSwap.Title</h4>
                            </a>
                        }

                    </div>
                </div>
            </div>
        }

    </div>
</div>





