@model dynamic
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var chatViewModel = ViewBag.ChatViewModel as ChatViewModel;
    var userId = UserManager.GetUserId(User);

}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Product Details</h2>
                    <p>Very us move be blessed multiply night</p>
                </div>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="single-product.html">Product Details</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_product_img">
                    <div id="carouselExampleIndicators"
                         class="carousel slide"
                         data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators"
                                data-slide-to="0"
                                class="active">
                                <img src="@ViewBag.FirstImage" class="d-block w-100"
                                      />
                            </li>
                            @for (int i = 1; i < (ViewBag.ProductsImages).Count; i++)
                                {
                                    var image = (ViewBag.ProductsImages)[i];
                                    <li data-target="#carouselExampleIndicators"
                                        data-slide-to="@i">
                                        <img src="@image.ImageUrl" class="d-block w-100" />
                                    </li>
                                }
                           
                        </ol>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="@ViewBag.FirstImage" alt="First slide" />
                                </div>

                                @for (int i = 1; i < (ViewBag.ProductsImages).Count; i++)
                                {
                                    var image = (ViewBag.ProductsImages)[i];
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="@image.ImageUrl" alt="Slide @i" />
                                    </div>
                                }
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    @if (Model is Product)
                    {
                        <h3>@Model.User.Email</h3>
                        <h3>@Model.Title</h3>
                        <h2>$@Model.Price</h2>
                    }
                    else if (Model is ProductSwap)
                    {
                        <h3>@Model.User.Email</h3>
                        <h3>@Model.Title</h3>
                    }
                    else if (Model is StoreProduct)
                    {
                        <h3>@Model.Store.User.Email</h3>
                        <h3>@Model.Title</h3>
                        <h2>$@Model.Price</h2>
                    }

                    <ul class="list">
                        <li>
                            <a class="active" href="#">
                                @if (Model is StoreProduct){
                                    <span>Category</span> @Model.Category.Name
                                }
                                else
                                {
                                    <span>Category</span> @Model.Category.CategoryName
                                }
                                
                            </a>
                        </li>
                        
                    </ul>
                    <p>
                            @Model.Description
                    </p>
                    @if(Model is StoreProduct)
                    {
                        @if (Model.Store.UserId != userId)
                        {
                            <div class="card_area">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Enter code" id="codeInput">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" onclick="checkCode()">Check Code</button>
                                    </div>
                                </div>
                                <div id="codeFeedback" class="mt-2"></div>
                                <a class="main_btn" href="#" data-toggle="modal" data-target="#chatModal" onclick="loadChat('@Model.Store.UserId')">Chat</a>
                               
                            </div>
                            <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="chatModalLabel">Chat</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" id="chatModalBody">
                                        </div>

                                    </div>
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        @if (Model.UserId != userId)
                        {
                            <div class="card_area">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Enter code" id="codeInput">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" onclick="checkCode()">Check Code</button>
                                    </div>
                                </div>
                                <div id="codeFeedback" class="mt-2"></div>
                                <a class="main_btn" href="#" data-toggle="modal" data-target="#chatModal" onclick="loadChat('@Model.User.Id')">Chat</a>
                               
                            </div>
                            <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="chatModalLabel">Chat</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" id="chatModalBody">
                                        </div>

                                    </div>
                                </div>
                            </div>

                        }
                    }
                   
                  

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function checkCode() {
        var code = document.getElementById('codeInput').value;

        $.ajax({
            url: '@Url.Action("CheckCode", "Home")', // Replace with your controller and action
            type: 'GET',
            data: {
                code: code,
    @if (Model is Product)
    {
        <text>
                code2: "@((Model as Product).Code)",
                productOwnerId: "@((Model as Product).UserId)",
                ProductId: @((Model as Product).Id),
                productType:"product"
        </text>
    }
    else if (Model is ProductSwap)
    {
        <text>
                code2: "@((Model as ProductSwap).Code)",
                productOwnerId: "@((Model as ProductSwap).UserId)",
                ProductId: @((Model as ProductSwap).Id),
                productType:"swap"
        </text>
    }
    else if (Model is StoreProduct)
    {
        <text>
                code2: "@((Model as StoreProduct).Code)",
                productOwnerId: "@((Model as StoreProduct).Store?.UserId)",
                ProductId: @((Model as StoreProduct).Id),
                productType:"store"
        </text>
    }
            },
            success: function (response) {
                if (response.exists) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Code Validated',
                        text: response.message
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Code Not Found',
                        text: response.message
                    });
                }
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred while checking the code. Please try again.'
                });
            }
        });
    }



   
</script>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();

        connection.on("ReceiveMessage", (user, message) => {
            displayMessage(user, message);
        });

        connection.start().catch(err => console.error(err.toString()));

        function displayMessage(userId, message, senderId, senderAvatar, receiverAvatar) {
            const ul = document.getElementById('messagesList');
            const li = document.createElement('li');
            li.classList.add('clearfix');

            if (userId === senderId) {
                
                li.innerHTML = `
                    <div class="message-data text-right">

                                    <span class="message-data-time">${new Date().toLocaleTimeString()}</span>
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar" class="rounded-circle">
                        </div>
                        <div class="message other-message float-right bg-primary text-white p-2 rounded">
                                    ${message}
                        </div>
                `;
            } else {
                
                li.innerHTML = `
                            <div class="message-data">
                                            <span class="message-data-time">${new Date().toLocaleTimeString()}</span>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar" class="rounded-circle">
                                </div>
                                <div class="message my-message bg-light p-2 rounded">
                ${message}
                                </div>
                `;
            }

            ul.appendChild(li);
            ul.scrollTop = ul.scrollHeight; 
        }


        function sendPrivateMessage(receiverUserId) {
            const message = document.getElementById('messageInput').value;
            connection.invoke("SendPrivateMessage", receiverUserId, message).catch(err => console.error(err.toString()));
            displayMessage('Me', message);
        }

        function loadChat(userId) {

            $.ajax({
                url: '@Url.Action("GetChatWithUser", "Home")', 
                type: 'GET',
                data: { userId: userId },
                success: function (result) {
                    $('#chatModalBody').html(result); 
                    
                    const sendButton = document.querySelector('.chat-message .btn-primary');
                    sendButton.onclick = function () { sendPrivateMessage(userId); };
                },
                error: function () {
                    alert('Failed to load chat messages.');
                }
            });
            
        }
    </script>
}